* text=auto
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.cs diff=csharp
*.fontsettings -text -crlf
*.signal -text -crlf
*.playable -text -crlf
*.brush -text -crlf
*.cubemap -text -crlf
*.meta -text -crlf
*.anim -text -crlf
*.inputactions -text -crlf
*.controller -text -crlf
*.overrideController -text -crlf
*.prefab -text -crlf
*.preset -text -crlf
*.terrainlayer -text -crlf
*.physicMaterial -text -crlf
*.physicsMaterial2D -text -crlf
*.spriteatlas -text -crlf
*.mat -text -crlf
*.asset -text -crlf
*.unity -text -crlf
*.mask -text -crlf
*.renderTexture -text -crlf
*.flare -text -crlf
*.terrainlayer -text -crlf
*.mixer -text -crlf
*.guiskin -text -crlf
*.asmdef -text -crlf
*.svg -text -crlf
*.lighting -text -crlf
*.shadergraph -text -crlf
.gitmodules -text -crlf
/ProjectSettings/ProjectVersion.txt -text -crlf
/Packages/manifest.json -text -crlf
/Packages/packages-lock.json -text -crlf
